Repository Ruwad-io/pocketping: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck

eslint:
  name: ESLint (TypeScript)
  entry: pnpm eslint --fix
  language: system

typecheck:
  name: TypeScript Type Check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

ci: fix OIDC publishing - separate semantic-release from npm publish
  .github/workflows/release.yml
  packages/sdk-node/package.json
  packages/widget/package.json
Due: none

ci: replace @semantic-release/npm with @semantic-release/exec
  .github/workflows/release.yml
  docker/demo-server.d.ts
  docker/demo-server.d.ts.map
  docker/demo-server.js
  docker/demo-server.js.map
  docs-site/sidebars.d.ts
  docs-site/sidebars.d.ts.map
  docs-site/sidebars.js
  docs-site/sidebars.js.map
  packages/sdk-node/package.json
  packages/sdk-node/vitest.config.js
  packages/widget/package.json
Due: eslint, typecheck

ci: disable husky hooks during semantic-release
  .github/workflows/release.yml
Due: none

ci: remove @semantic-release/git to avoid branch protection issues
  .github/workflows/release.yml
  packages/sdk-node/package.json
  packages/widget/package.json
Due: none

Notes added by 'git notes add'
  22dbc04b15c95a4099acaf67ae4bedb72d5d697c
Due: none

ci: use NODE_AUTH_TOKEN for npm publish
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  733e55bdf8df1e9e1f5c1f2ec730737ed578343c
Due: none

fix: update .npmrc to use NODE_AUTH_TOKEN
  .npmrc
Due: none

Notes added by 'git notes add'
  3fa30f429d8f750824b8810ea12507ba9226e474
Due: none

fix(ci): add permissions for PyPI OIDC and Docker publish
  .github/workflows/release.yml
Due: none

fix(sdk-node): update lockfile for biome dependency
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  30545acb6c31ee317d2d4f9dbf5343190939a477
Due: none

fix(sdk-php): use PHP 8.1 compatible readonly properties
  packages/sdk-php/src/Utils/IpFilter.php
Due: none

feat(sdk-node): sync version with npm and add IP filtering feature
  packages/sdk-node/package.json
Due: none

Notes added by 'git notes add'
  d42901f7c4959686582970ca1fe56ec5c381163b
Due: none

fix(ci): add contents:write permission for GitHub Release job
  .github/workflows/release.yml
Due: none

fix(widget): improve UX with auto-scroll, unread badge, and server config
  packages/widget/src/client.ts
  packages/widget/src/components/ChatWidget.tsx
  packages/widget/src/components/styles.ts
  packages/widget/src/types.ts
Due: eslint, typecheck

Notes added by 'git notes add'
  5653b418aef0a55f07a9feb154bebc5bf1c572d7
Due: none

feat(widget): add SSE fallback chain (WS → SSE → Polling)
  packages/widget/src/client.ts
  packages/widget/tests/client.test.ts
  packages/widget/tests/setup.ts
Due: eslint, typecheck

Notes added by 'git notes add'
  cb2e26211e7330233274fca8f016826a50bf8552
Due: none

ci: update test workflow for Go bridge-server
  .github/workflows/test.yml
Due: none

fix: add curl to bridge-server Docker image for health checks
  bridge-server/Dockerfile
Due: none

fix: use Go 1.22 for new ServeMux routing syntax
  bridge-server/Dockerfile
  bridge-server/docker-compose.yml
  bridge-server/go.mod
Due: none

ci: use Go 1.22 in test workflow for bridge-server
  .github/workflows/test.yml
Due: none

feat: add WebhookHandler to all SDKs + refactor architecture docs
  CLAUDE.md
  README.md
  bridge-server/README.md
  bridge-server/docker-compose.yml
  bridge-server/go.mod
  bridge-server/internal/api/routes.go
  bridge-server/internal/api/webhooks.go
  bridge-server/internal/types/types.go
  packages/SDK_SPEC.md
  packages/sdk-go/models.go
  packages/sdk-go/webhooks.go
  packages/sdk-node/README.md
  packages/sdk-node/src/index.ts
  packages/sdk-node/src/webhooks.ts
  packages/sdk-php/src/Webhooks/OperatorAttachment.php
  packages/sdk-php/src/Webhooks/ParsedMedia.php
  packages/sdk-php/src/Webhooks/WebhookConfig.php
  packages/sdk-php/src/Webhooks/WebhookHandler.php
  packages/sdk-python/src/pocketping/__init__.py
  packages/sdk-python/src/pocketping/webhooks.py
  packages/sdk-ruby/lib/pocketping.rb
  packages/sdk-ruby/lib/pocketping/webhooks.rb
  packages/sdk-ruby/spec/examples.txt
  packages/widget/src/components/ChatWidget.tsx
  packages/widget/src/components/styles.ts
Due: eslint, typecheck

Notes added by 'git notes add'
  f498a0f2810a2ae5edcbc6ab899e501a3c69080c
Due: none

fix: use relative path for sdk-go in bridge-server
  bridge-server/Dockerfile
  bridge-server/go.mod
  docker-compose.dev.yml
Due: none

style(sdk-python): remove unused import
  packages/sdk-python/src/pocketping/webhooks.py
Due: none

docs: update intro with 3 deployment options
  docs-site/docs/intro.md
Due: none

docs: add bridge platform support matrix and deployment guide
  CLAUDE.md
Due: none

ci: add E2E bridge testing workflow and documentation
  .github/workflows/e2e-bridges.yml
  docs/TESTING_BRIDGES_E2E.md
  scripts/bridge-e2e.js
Due: eslint

test: add comprehensive tests for bridge-server
  .github/workflows/test.yml
  bridge-server/docker-compose.yml
  bridge-server/go.mod
  bridge-server/go.sum
  bridge-server/internal/api/routes_test.go
  bridge-server/internal/bridges/bridge_test.go
  bridge-server/internal/bridges/discord_test.go
  bridge-server/internal/bridges/slack_test.go
  bridge-server/internal/bridges/telegram_test.go
  bridge-server/internal/config/config_test.go
  bridge-server/internal/types/types_test.go
Due: none

test: add Discord integration tests and full message flow tests
  .github/workflows/test.yml
  tests/integration/discord-bridge.test.ts
  tests/integration/full-message-flow.test.ts
  tests/integration/webhook.test.ts
  tests/mocks/discord-api.ts
Due: eslint, typecheck

test: enhance multi-bridge sync tests with Discord support
  tests/integration/multi-bridge-sync.test.ts
Due: eslint, typecheck

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (node_modules|dist|\.d\.ts)
  typecheck: any of: \.(ts|tsx)$
