Repository Ruwad-io/pocketping: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for PocketPing monorepo
# Install: pip install pre-commit && pre-commit install

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # TypeScript/JavaScript - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (TypeScript)
        entry: pnpm eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: (node_modules|dist|\.d\.ts)

      - id: typecheck
        name: TypeScript Type Check
        entry: pnpm typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Python - Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: ['--fix']
        types_or: [python, pyi]
        files: ^packages/sdk-python/
      - id: ruff-format
        types_or: [python, pyi]
        files: ^packages/sdk-python/

  # Prettier for JSON, YAML, Markdown
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [json, yaml, markdown]
        exclude: (pnpm-lock\.yaml|package-lock\.json)

# Run before each commit
default_install_hook_types: [pre-commit, pre-push]

feat(widget): add Shift+Enter support for multi-line messages
  packages/widget/src/components/ChatWidget.tsx
  packages/widget/src/components/styles.ts
Due: eslint, typecheck

Notes added by 'git notes add'
  8ff786e4862f8692658aec5f4bb53c14a5839bbd
Due: none

feat: add AI auto-response to community edition + fix docs sidebar
  community/app/api/widget/messages/route.ts
  community/lib/ai.ts
  community/lib/auth.ts
  community/lib/bridges/index.ts
  docs-site/sidebars.ts
Due: eslint, typecheck

fix(widget): critical mobile UX improvements
  packages/widget/src/components/ChatWidget.tsx
  packages/widget/src/components/styles.ts
Due: eslint, typecheck

Notes added by 'git notes add'
  b861820b47837e903ba0a47a1fb0b9ff2fe141a4
Due: none

fix(widget): mobile UX improvements for keyboard and scroll
  packages/widget/src/components/ChatWidget.tsx
  packages/widget/src/components/styles.ts
Due: eslint, typecheck

Notes added by 'git notes add'
  4503ffb4d6e1bbf2a6ecbe2d95482a87b34825e6
Due: none

docs: add CLI and Community Edition to sidebar
  community/.gitignore
  docs-site/sidebars.d.ts.map
  docs-site/sidebars.js
  docs-site/sidebars.js.map
Due: eslint

chore: add community Next.js standalone config for Docker
  community/next.config.js
Due: eslint

Notes added by 'git notes add'
  cbc805e8ebc2d59094abd075a1e6f41ced346203
Due: none

Notes added by 'git notes add'
  d6a7f172c1bd4ef26c481d09679e84e7d8ff3c1c
Due: none

feat(widget): mobile keyboard and scroll improvements
  packages/widget/README.md
Due: none

Notes added by 'git notes add'
  c6018ab7e551aa0b94c45f89b04a91cdf5c3b036
Due: none

feat(widget): publish mobile UX improvements
  packages/widget/README.md
Due: none

Notes added by 'git notes add'
  47231019aa478b1902912694d4524aacae3f1ff1
Due: none

feat: add User-Agent filtering to block bots across all SDKs
  IMPLEMENTATION_CHECKLIST.md
  bridge-server/.env.example
  bridge-server/internal/api/routes.go
  bridge-server/internal/config/config.go
  docs-site/docs/sdk/go.md
  docs-site/docs/sdk/nodejs.md
  docs-site/docs/sdk/php.md
  docs-site/docs/sdk/python.md
  docs-site/docs/sdk/ruby.md
  packages/SDK_SPEC.md
  packages/sdk-go/README.md
  packages/sdk-go/user_agent_filter.go
  packages/sdk-node/README.md
  packages/sdk-node/src/index.ts
  packages/sdk-node/src/pocketping.ts
  packages/sdk-node/src/types.ts
  packages/sdk-node/src/utils/user-agent-filter.ts
  packages/sdk-php/README.md
  packages/sdk-php/src/Utils/UserAgentFilter.php
  packages/sdk-python/README.md
  packages/sdk-python/src/pocketping/utils/user_agent_filter.py
  packages/sdk-ruby/README.md
  packages/sdk-ruby/lib/pocketping/user_agent_filter.rb
Due: eslint, typecheck

Notes added by 'git notes add'
  47aecf65462fc73945ad2b65fb7d42d6a37b6686
Due: none

fix(sdk-go): add UaFilter field to Config struct
  packages/sdk-go/pocketping.go
Due: none

feat(widget): add WordPress plugin for easy widget installation
  IMPLEMENTATION_CHECKLIST.md
  docs-site/docs/widget/wordpress.md
  packages/wordpress-plugin/package.json
  packages/wordpress-plugin/pocketping.php
  packages/wordpress-plugin/readme.txt
Due: none

feat(docs): add interactive Widget Builder for self-hosted users
  docs-site/docs/widget/customization.md
  docs-site/docs/widget/customize.mdx
  docs-site/docs/widget/wordpress.md
  docs-site/src/components/WidgetCustomizer/index.tsx
  docs-site/src/components/WidgetCustomizer/styles.module.css
Due: eslint, typecheck

fix(docs): add WordPress and Widget Builder to sidebar
  docs-site/sidebars.ts
Due: eslint, typecheck

feat(bridge): add email, phone, user agent to new session notifications
  community/lib/bridges/discord.ts
  community/lib/bridges/index.ts
  community/lib/bridges/slack.ts
  community/lib/bridges/telegram.ts
  community/lib/bridges/types.ts
  packages/sdk-go/discord_bridge.go
  packages/sdk-go/slack_bridge.go
  packages/sdk-go/telegram_bridge.go
  packages/sdk-node/src/bridges/discord.ts
  packages/sdk-node/src/bridges/slack.ts
  packages/sdk-node/src/bridges/telegram.ts
  packages/sdk-php/src/Bridges/DiscordBridge.php
  packages/sdk-php/src/Bridges/SlackBridge.php
  packages/sdk-php/src/Bridges/TelegramBridge.php
  packages/sdk-python/src/pocketping/bridges/discord.py
  packages/sdk-python/src/pocketping/bridges/slack.py
  packages/sdk-python/src/pocketping/bridges/telegram.py
  packages/sdk-ruby/lib/pocketping/bridges/discord_bridge.rb
  packages/sdk-ruby/lib/pocketping/bridges/slack_bridge.rb
  packages/sdk-ruby/lib/pocketping/bridges/telegram_bridge.rb
Due: eslint, typecheck

Notes added by 'git notes add'
  7e05022a93a4592da6b548cc8b583c3019d71e74
Due: none

fix(bridge): update tests for new session notification format
  packages/sdk-go/bridges_test.go
  packages/sdk-node/tests/bridges.test.ts
  packages/sdk-php/tests/DiscordBridgeTest.php
  packages/sdk-php/tests/SlackBridgeTest.php
  packages/sdk-php/tests/TelegramBridgeTest.php
  packages/sdk-python/tests/test_bridges.py
  packages/sdk-ruby/lib/pocketping/bridges/discord_bridge.rb
  packages/sdk-ruby/lib/pocketping/bridges/slack_bridge.rb
  packages/sdk-ruby/lib/pocketping/bridges/telegram_bridge.rb
  packages/sdk-ruby/spec/bridges_spec.rb
Due: eslint, typecheck

Notes added by 'git notes add'
  089acd55867084a62dd4cbd4ebfef213b80e5102
Due: none

feat(widget): add gradient color support with logo defaults
  packages/widget/src/components/styles.ts
  packages/widget/src/types.ts
Due: eslint, typecheck

Notes added by 'git notes add'
  5c5436f123c5585d403aa6482aab473220d0f6ec
Due: none

feat(docs): update widget colors to brand gradient defaults
  docs-site/docs/widget/customize.mdx
  docs-site/src/components/WidgetCustomizer/index.tsx
Due: eslint, typecheck

feat: add visitor disconnect notification across all platforms
  bridge-server/internal/api/routes.go
  bridge-server/internal/bridges/bridge.go
  bridge-server/internal/bridges/discord.go
  bridge-server/internal/bridges/slack.go
  bridge-server/internal/bridges/telegram.go
  bridge-server/internal/types/types.go
  community/app/api/webhooks/slack/route.ts
  community/app/api/webhooks/telegram/route.ts
  community/app/api/widget/disconnect/route.ts
  community/app/api/widget/init/route.ts
  community/lib/bridges/index.ts
  community/prisma/schema.prisma
  packages/sdk-node/src/index.ts
  packages/sdk-node/src/pocketping.ts
  packages/sdk-node/src/types.ts
  packages/widget/src/client.ts
Due: eslint, typecheck

Notes added by 'git notes add'
  a0e8ad7b03f65a981e6bb019936694798756cdd9
Due: none

fix(bridge): add bridge thread IDs to Session type
  bridge-server/internal/types/types.go
Due: none

fix(bridge): use Identity struct for visitor name in disconnect
  bridge-server/internal/api/routes.go
Due: none

fix(bridge): add OnVisitorDisconnect to mockBridge in tests
  bridge-server/internal/api/routes_test.go
Due: none
