Repository Ruwad-io/pocketping: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for PocketPing monorepo
# Install: pip install pre-commit && pre-commit install

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # TypeScript/JavaScript - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (TypeScript)
        entry: pnpm eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: (node_modules|dist|\.d\.ts)

      - id: typecheck
        name: TypeScript Type Check
        entry: pnpm typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Python - Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: ['--fix']
        types_or: [python, pyi]
        files: ^packages/sdk-python/
      - id: ruff-format
        types_or: [python, pyi]
        files: ^packages/sdk-python/

  # Prettier for JSON, YAML, Markdown
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [json, yaml, markdown]
        exclude: (pnpm-lock\.yaml|package-lock\.json)

# Run before each commit
default_install_hook_types: [pre-commit, pre-push]

fix(ci): Fix test failures in Ruby, Python, and Node.js SDKs
  packages/sdk-node/tests/pocketping.test.ts
  packages/sdk-python/pyproject.toml
  packages/sdk-ruby/lib/pocketping/core.rb
Due: eslint, typecheck

feat: Add widget inspector mode for visual element selection
  CLAUDE.md
  package.json
  packages/sdk-go/pocketping_test.go
  packages/sdk-node/tests/storage.test.ts
  packages/sdk-python/src/pocketping/models.py
  packages/sdk-ruby/spec/examples.txt
  packages/sdk-ruby/spec/spec_helper.rb
  packages/sdk-ruby/spec/webhook_spec.rb
  packages/widget/src/client.ts
  packages/widget/src/types.ts
  pnpm-lock.yaml
  tests/integration/custom-events.test.ts
  tests/integration/multi-bridge-sync.test.ts
  tests/integration/slack-bridge.test.ts
  tests/integration/telegram-bridge.test.ts
  tests/mocks/slack-api.ts
  tests/mocks/telegram-api.ts
Due: eslint, typecheck

fix: TypeScript errors in widget inspector mode
  packages/widget/src/client.ts
Due: eslint, typecheck

fix: cleanup inspector mode on disconnect
  packages/widget/src/client.ts
Due: eslint, typecheck

feat: Add widget inspector mode for visual element selection (#4)
  CLAUDE.md
  package.json
  packages/sdk-go/pocketping_test.go
  packages/sdk-node/tests/storage.test.ts
  packages/sdk-python/src/pocketping/models.py
  packages/sdk-ruby/spec/examples.txt
  packages/sdk-ruby/spec/spec_helper.rb
  packages/sdk-ruby/spec/webhook_spec.rb
  packages/widget/src/client.ts
  packages/widget/src/types.ts
  pnpm-lock.yaml
  tests/integration/custom-events.test.ts
  tests/integration/multi-bridge-sync.test.ts
  tests/integration/slack-bridge.test.ts
  tests/integration/telegram-bridge.test.ts
  tests/mocks/slack-api.ts
  tests/mocks/telegram-api.ts
Due: eslint, typecheck

ci: Improve CI reliability and add E2E tests
  .github/workflows/test.yml
  docker-compose.dev.yml
Due: none

fix: Remove broken E2E job from CI
  .github/workflows/test.yml
Due: none

ci: Improve CI reliability and add E2E tests (#5)
  .github/workflows/test.yml
  docker-compose.dev.yml
Due: none

feat: fix E2E tests and improve CI/CD infrastructure
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/code-review.yml
  .github/workflows/test.yml
  bridge-server/Dockerfile
  docker-compose.dev.yml
  playwright.config.ts
Due: eslint, typecheck

docs: improve CLAUDE.md PR workflow instructions
  CLAUDE.md
Due: none

ci: add concurrency config to cancel obsolete runs
  .github/workflows/test.yml
Due: none

fix: address Codex review feedback
  .github/workflows/test.yml
  bridge-server/Dockerfile
Due: none

docs: add instructions for addressing automated review comments
  CLAUDE.md
Due: none

ci: add CI Success summary job for branch protection
  .github/workflows/test.yml
Due: none

docs: add instructions for resolving review threads via GraphQL API
  CLAUDE.md
Due: none

feat: Inspector Mode, E2E Testing & CI/CD Infrastructure (#6)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/code-review.yml
  .github/workflows/test.yml
  CLAUDE.md
  bridge-server/Dockerfile
  docker-compose.dev.yml
  playwright.config.ts
Due: eslint, typecheck

fix: update pnpm-lock.yaml after hono bump
  pnpm-lock.yaml
Due: none

fix: add ESM module type to support vitest 4.x
  packages/sdk-node/package.json
  packages/widget/package.json
Due: none

fix: regenerate bun.lock with compatible version
  bridge-server/bun.lock
Due: none

fix: update Bun version to 1.3.6 for lockfile compatibility
  .github/workflows/test.yml
  bridge-server/Dockerfile
Due: none

fix: correct ESM/CJS exports for sdk-node and widget packages
  packages/sdk-node/package.json
  packages/widget/package.json
Due: none

fix: add healthchecks to sdk/widget watchers for E2E timing
  docker-compose.dev.yml
Due: none

fix: add curl to bridge container for healthcheck
  bridge-server/Dockerfile
Due: none

fix: use pnpm in E2E container for workspace protocol support
  docker-compose.dev.yml
Due: none

fix: add @playwright/test to root devDependencies for E2E tests
  package.json
  pnpm-lock.yaml
Due: none

perf: optimize E2E for faster CI
  playwright.config.ts
Due: eslint, typecheck

fix: E2E test issues
  docker/demo-server.ts
  tests/e2e/read-receipts.spec.ts
Due: eslint, typecheck

chore: changeset for widget SaaS compatibility
  .changeset/widget-saas-compat.md
Due: none

feat(widget): improve polling with exponential backoff
  packages/widget/package.json
  packages/widget/src/client.ts
Due: eslint, typecheck

feat(ci): migrate from changesets to semantic-release
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .gitignore
  .husky/commit-msg
  commitlint.config.js
  package.json
  packages/sdk-node/package.json
  packages/widget/package.json
  pnpm-lock.yaml
Due: eslint

fix: add Procfile for docs-site Railway deployment
  docs-site/Procfile
Due: none

feat: add Railway config-as-code for docs-site
  docs-site/railway.toml
Due: none

fix(docs): use npm instead of pnpm for docs-site
  docs-site/Procfile
  docs-site/railway.toml
Due: none

fix: add railway.toml at repo root for docs-site
  railway.toml
Due: none

fix: use dvh for mobile viewport to handle keyboard
  packages/widget/src/components/styles.ts
  packages/widget/vitest.config.js
Due: eslint, typecheck

ci: add .npmrc for npm authentication
  .npmrc
Due: none

fix: remove workspace:* references for npm publishing
  examples/node-express/package.json
  package.json
  packages/widget/package.json
  pnpm-lock.yaml
Due: none

ci: switch to npm OIDC trusted publishing
  .github/workflows/release.yml
Due: none
